<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="'dialog'"
        [mode]="'over'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" (click)="drawer.close()">Home</a>
        <a mat-list-item routerLink="/components" (click)="drawer.close()">My Components</a>
        <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
        <a mat-list-item routerLink="/profile" (click)="drawer.close()">Profile</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>{{title}}</span>
        } @else {
            <a mat-button routerLink="/home">{{title}}</a>
            <span class="spacer"></span>
            <a mat-button routerLink="/components">My Components</a>
            <span class="spacer"></span>
            <a mat-button routerLink="/login">Login</a>
            <a mat-button routerLink="/profile">Profile</a>            
        }
      </mat-toolbar>

      <!-- Add Content Here -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
