<div *ngIf="component">
    <mat-list>
        <p matSubheader class="mat-headline-4">{{component.name}}</p>
        <mat-list-item>
            <span matListItemTitle>Category</span>
            <span matListItemLine>{{component.category}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Name</span>
            <span matListItemLine>{{component.name}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Description</span>
            <span matListItemLine>{{component.description}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Manufacturer</span>
            <span matListItemLine>{{component.manufacturer}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Model</span>
            <span matListItemLine>{{component.model}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Installed?</span>
            <span matListItemLine>{{component.isInstalled}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Install Date</span>
            <span matListItemLine>{{component.installDate}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Retire Date</span>
            <span matListItemLine>{{component.uninstallDate}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Total Rides (m)</span>
            <span matListItemLine>{{component.totalRides}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Total Distance (m)</span>
            <span matListItemLine>{{component.totalDistance}}</span>
        </mat-list-item>

        <mat-list-item>
            <span matListItemTitle>Total Time (s)</span>
            <span matListItemLine>{{component.totalTime}}</span>
        </mat-list-item>

        <mat-divider></mat-divider>
        <p matSubheader class="mat-headline-4">Service Intervals</p>
        @for (service of component.serviceIntervals; track service) {
            <mat-list-item>
               <span matListItemTitle>{{service.name}}</span>
               <span matListItemLine>{{service.description}} | {{service.distance}}m</span>
            </mat-list-item>
          }
    </mat-list>
 </div>
