<mat-card class="component-card" appearance="outlined">
    <mat-card-header>
        <img mat-card-avatar [src]="getComponentImage()">
        <mat-card-title>{{component.name}}</mat-card-title>
        <mat-card-subtitle>{{component.category}}</mat-card-subtitle>
        <mat-card-subtitle>{{component.manufacturer}}</mat-card-subtitle>
        <mat-card-subtitle>{{component.model}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{component.description}}</p>
        <form>
            <p>Installed on {{component.installDate | date:'longDate'}}</p>
            <mat-form-field class="wide-field">
                <mat-label>Total Rides</mat-label>
                <input matInput name="name" readonly type="text" value="{{component.totalRides}}">
            </mat-form-field>
            <mat-form-field class="wide-field">
                <mat-label>Total Distance (m)</mat-label>
                <input matInput name="name" readonly type="text" value="{{component.totalDistance}}">
            </mat-form-field>
            <mat-form-field class="wide-field">
                <mat-label>Total Time (s)</mat-label>
                <input matInput name="name" readonly type="text" value="{{component.totalTime}}">
            </mat-form-field>
        </form>
        <mat-card-footer>
            @if (component.serviceIntervals?.length) {
            <p>Service Intervals</p>
            @for (service of component.serviceIntervals; track service) {
                <form>
                    <mat-form-field class="wide-field">
                        <mat-label>{{service.name}}</mat-label>
                        <input matInput name="name" readonly type="text" value="{{service.description}} | {{service.distance}}m">
                    </mat-form-field> 
                </form>
            }
        }
        </mat-card-footer>         
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onClickEdit()">Edit</button>
        <button mat-raised-button (click)="onClickDelete()">Delete</button>
    </mat-card-actions>
</mat-card>
