<div *ngIf="component">
    <div><b>{{component.name}}</b></div>
    <table>
        <tr>
            <td>Category</td>
            <td>{{component.category}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{component.name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{component.description}}</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>{{component.manufacturer}}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{component.model}}</td>
        </tr>
        <tr>
            <td>Active?</td>
            <td>{{component.isActive}}</td>
        </tr>
        <tr>
            <td>Install Date</td>
            <td>{{component.installDate}}</td>
        </tr>
        <tr>
            <td>Retire Date</td>
            <td>{{component.retireDate}}</td>
        </tr>
        <tr>
            <td>Distance (m)</td>
            <td>{{component.totalDistance}}</td>
        </tr>
        <tr>
            <td>Time (s)</td>
            <td>{{component.totalTime}}</td>
        </tr>
    </table>
 </div>
