<h3>My Components</h3>

<button mat-raised-button class="mat-primary" (click)="onAddComponent()">Add New Component</button>

<form *ngIf="newComponent && !selectedComponent">
    <br>
    <div><b>Create a new component</b></div>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput name="category" [(ngModel)]="newComponent.category" placeholder="category">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="name" [(ngModel)]="newComponent.name" placeholder="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput name="description" [(ngModel)]="newComponent.description" placeholder="description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Manufacturer</mat-label>
        <input matInput name="manufacturer" [(ngModel)]="newComponent.manufacturer" placeholder="manufacturer">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Model</mat-label>
        <input matInput name="model" [(ngModel)]="newComponent.model" placeholder="model">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date Installed</mat-label>
        <input matInput name="installDate" [(ngModel)]="newComponent.installDate" placeholder="installDate">
    </mat-form-field>

    <div><b>Service Interval</b></div>
    <mat-form-field>
        <mat-label>Maximum Distance (m)</mat-label>
        <input matInput name="distance" [(ngModel)]="serviceInterval.distance" placeholder="distance (m)">
    </mat-form-field>

    <button mat-raised-button class="mat-accent" type="submit" (click)="onAdd(newComponent)">Submit</button>
</form>


<div class="component-container">
  @for (component of myComponents; track component) {
      <app-component-detail
      class="component"
      [component]="component" 
      (onDelete)="onDelete(component)"></app-component-detail>
  }
</div>