<h3>Profile</h3>

<div [hidden]="user">
    <!-- show login button when not logged in -->
    <p>You must be logged in to view your profile</p>
    <a routerLink="/login"><button>Login</button></a>
</div>

<div [hidden]="!user">
    <p>This is your profile</p>

    <form>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput name="name" readonly type="text" value="{{user?.name}}">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" readonly type="text" value="{{user?.email}}">
        </mat-form-field>  

        <mat-form-field>
            <mat-label>Provider</mat-label>
            <input matInput name="provider" readonly type="text" value="{{user?.provider}}">
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>Total Rides</mat-label>
            <input matInput name="totalRides" value="{{rideStats?.totalRides}}" >
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Total Distance</mat-label>
            <input matInput name="totalDistance" value="{{rideStats?.totalDistance}} meters" >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Total Time</mat-label>
            <input matInput name="totalTime" value="{{rideStats?.totalTime}} seconds" >
        </mat-form-field>              
    </form>

    <button  mat-raised-button class="mat-primary" (click)="logout()">Logout</button>

    <hr>

    <!-- Show a link to integrate Strava if not integrated yet -->
    <div>
        <h3>Strava</h3>
        <div [hidden]="stravaUser">
            <button mat-raised-button class="integrate-button" (click)="integrateStrava()">Connect with Strava</button>
        </div>
        <div [hidden]="!stravaUser">
            <button mat-raised-button class="integrate-button" (click)="disconnectStrava()">Disconnect Strava</button>
            <button mat-raised-button class="integrate-button" (click)="syncronizeStravaRides()">Sync Strava Rides</button>
        </div>
    </div>

    <div>
        <h3>Ride with GPS</h3>
        <!-- Show a link to integrate Ride with GPS if not integrated yet -->
        <div [hidden]="rwgpsUser">
            <button mat-raised-button class="integrate-button" (click)="integrateRwgps()">Connect with Ride with GPS</button>
        </div>
        <div [hidden]="!rwgpsUser">
            <button mat-raised-button class="integrate-button" (click)="disconnectRwgps()">Disconnect Ride with GPS</button>
            <button mat-raised-button class="integrate-button" (click)="syncronizeRwgpsRides()">Sync Ride with GPS Rides</button>
        </div>
    </div>
</div>  