<h3>Profile</h3>

<div [hidden]="user">
    <!-- show login button when not logged in -->
    <p>You must be logged in to view your profile</p>
    <a routerLink="/login"><button>Login</button></a>
</div>

<div [hidden]="!user">
    <p>This is your profile</p>

    <form>
        <label for="name">Name:</label>
        <input id="name" name="name" readonly disabled type="text" value="{{user?.name}}" />
        <br><br>
        <label for="email">Email:</label>
        <input id="email" name="email" readonly disabled type="text" value="{{user?.email}}" />
        <br><br>
        <label for="provider">Provider:</label>
        <input id="provider" name="provider" readonly disabled type="text" value="{{user?.provider}}" />
    </form>

    <p>
        <button (click)="logout()">Logout</button>
    </p>

    <div>Total Rides: {{ rideStats?.totalRides }}</div>
    <div>Total Distance: {{ rideStats?.totalDistance }}</div>
    <div>Total Time: {{ rideStats?.totalTime }}</div>

    <p></p>
    <!-- Show a link to integrate Strava if not integrated yet -->
    <div [hidden]="stravaUser">
        <a href="{{stravaIntegrationUrl}}"><button>Connect with Strava</button></a>
    </div>
    <div [hidden]="!stravaUser">
        <button (click)="disconnectStrava()">Disconnect Strava</button>
        <button (click)="syncronizeStravaRides()">Sync Strava Rides</button>
    </div>

    <p></p>
    <!-- Show a link to integrate Ride with GPS if not integrated yet -->
    <div [hidden]="rwgpsUser">
        <a href="{{rwgpsIntegrationUrl}}"><button>Connect with Ride with GPS</button></a>
    </div>
    <div [hidden]="!rwgpsUser">
        <button (click)="disconnectRwgps()">Disconnect Ride with GPS</button>
        <button (click)="syncronizeRwgpsRides()">Sync Ride with GPS Rides</button>
    </div>

</div>  